<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>172058585148-p8rjmac99mhmoplnrtcq6rtoog49tdvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172058585148-p8rjmac99mhmoplnrtcq6rtoog49tdvq</string>
	<key>API_KEY</key>
	<string>AIzaSyAsiGmwtjgBBwc5w2-TF6745tuepIqSti8</string>
	<key>GCM_SENDER_ID</key>
	<string>172058585148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdb.iostraining.sp19.mp5.BFFLTeam</string>
	<key>PROJECT_ID</key>
	<string>mini-project-5</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172058585148:ios:41e8783bc9f27a56</string>
	<key>DATABASE_URL</key>
	<string>https://mini-project-5.firebaseio.com</string>
</dict>
</plist>